# Finder's Environment Configuration

# Server Port
PORT=3000

# MongoDB Database Connection String
# Option A: Local MongoDB Community Server
MONGODB_URI=mongodb://127.0.0.1:27017/finders

# Option B: Free Cloud MongoDB Atlas Cluster
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/finders?retryWrites=true&w=majority

# JWT & Cryptographic Session Secret
JWT_SECRET=finders_ultra_secure_secret_key_2026_987413526
